/* Default styles */

.main {
  padding: 10px;
  height: 100vh;
}

.layout {
  display: flex;
}

.sidebar {
  min-height: 100%;
  width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  color: #0464fc;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.body {
  height: 85vh;
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}

.menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: #0464fc;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  background-color: white;
  padding: 10px;
}

.active a,
.active i {
  color: #104058;
}

.header-content {
  position: relative;
  left: 90%;
  bottom: 20px;
}

.profile-icon {
  display: inline;
  margin-left: 40px;
  color: black;
}

.profile-icon Link {
  margin-left: 40px;
  color: black;
}

.pr-icon {
  color: black;
}

.header-content i {
  font-size: 1.2rem;
}

.header-content a {
  text-decoration: none;
  font-size: 10px;
  color: blue;
  text-transform: uppercase;
}

img {
  position: relative;
  top: 20px;
}

.motto {
  text-align: center;
  font-size: large;
  margin-top: 5px;
  position: relative;
  top: 25px;
}

.user{
  position: relative;
  left: 45px;
  color: #0464fc;
}

.intro{
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  left: 20px;
  align-items: center;
}

.intro-heading{
  color: #104058;
  font-weight: bold;
  text-align: left;
}

.heroimg{
  position: relative;
  left:300px;
  height: 200px;
  width: 200px;
}

/* Responsive styles */

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}